*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{background-color: #eee;
    height: 3000px;
}

#banner{
    background-image: url(./img/andy\ rich\ class\ .jpg);
    background-size: cover;
    width: 100%;
    /* vh螢幕高度 */
    height: 100vh;
    color:white;
    background-attachment: fixed;
}
#banner nav{
    padding:30px;
}
#banner a,#banner-about a,#banner-contact a{
    text-decoration:none;
    color:white;
    font-size: 24px;
    padding: 0 30px;
    transition:0.3s;
}
#banner a:hover,#banner-about a:hover,#banner-contact a:hover{
    color: #aaa;
}
#banner p{
  text-align: center; 
  font-size:36px; 
  margin-top:240px ;
  /* 透明度 */
  opacity:0.9 ;
  padding: 30px;
  color:#000000;
}
#banner hr{
    width: 300px;
    margin: 0 auto;
    height: 5px;
    background-color:#f5f5f5;
    border:none;
}
#banner h1{
    text-align: center;
    color:white;
    font-size:80px;
}
#news{
    width:1500px;
    margin: 0 auto;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:50px;
    padding:100px 0;
    text-align:center;
}


#news>div{
background:#fff;    
}
#news h3{
 color:#aaa;
 padding:20px;
 font-weight: 100;
text-transform: uppercase;
letter-spacing: 5px;   
}
#news hr {
    width:300px;
    margin: 0 auto; 
}

#news h1{
    font-size:32px;
    font-weight: 100;
    padding: 20px;
}

#news p{
    padding: 30px;
    text-align:left;
    line-height: 1.5;
    color:#aaa;
}

#news #news-left{
    background-image: url(./img/newsleft.jpg);
    height:420px;


}

#news #news-right{
    background-image: url(./img/newsright.jpg);
    height:420px;
}
a.button{
    text-decoration: none;
    color:#aaa;
    border:1px solid #aaa;
    padding: 15px 80px;
    transition:0.5s;
}
a.button:hover{
color:white;
background:#aaa;
}

#box{
    background-image: url(./img/box2.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
}


#box h2{
    text-align:center;
    color:white;
    font-size: 32px;
    padding: 100px 0;
    backdrop-filter: blur(5px) opacity(70%);
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 600;
}
#content{
    width: 1200px;
    margin: 0 auto;
}
#content h1{
    text-align: center;
    font-weight: 100;
    color:#333;
    padding: 30px;
    letter-spacing: 20px;
    padding-left: 20px;
}
#content div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
#content a{
    height: 350px;
    line-height:350px;
    text-decoration: none;
    color:white;
    font-size: 32px;
    text-align: center;
}

#content a span{
    display:block;
    backdrop-filter:blur(5px) opacity(50%);
    transition: 0.5s;
}

#content a span:hover{
    backdrop-filter: blur(5px) opacity(100%);
}
#content #about{
    background-image: url(./img/about.jpg);
    background-size: cover;


}
#content #contact{
    background-image: url(./img/content.jpg);
    background-size: cover;

}
/* 地圖 */

#map{
    width:100%;
    height: 350px;
    margin-top: 150px;
}

footer {
    background: #252525;
    text-align: center;
    padding: 100px 0;
    color: white;
}

footer #icon a {
    padding: 2px;
    /* 濾鏡 */
    filter: opacity(100%);
    transition: 0.5s;
}

footer #icon a:hover {
    filter: opacity(10%);
}

footer h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding-left: 10px;
    padding: 50px 0 40px;
    font-size: 30px;
}

footer p {
    padding: 20px;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 3px;
    padding-left: 3px;
}

footer h2 a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer h2 a:hover {
    text-decoration: none;
    color: #888;
}



/* 關於我分頁 */
#banner-about{
    background-image: url(./img/about5.jpg);
    background-size: cover;
    width: 100%;
    /* vh螢幕高度 */
    height: 50vh;
    color:white;
    background-attachment: fixed;
}

#banner-about nav{
    backdrop-filter:opacity(40%);
}

#banner-about h2{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-left: 20px;
    line-height: 40vh;
    backdrop-filter:opacity(40%);
    height: 46.5vh;

}

#about-content{
    width: 1000px;
    margin:0 auto ;
    background-color:white;
    padding: 30px;
    margin-top: 100px;
}

#about-content h1{
    text-align: center;
    padding: 30px;
    font-size: 36px;
    
}
#about-content h3{
    text-align: center;
    padding: 30px;
    color:#aaa;
}

#about-content hr{
    width: 600px;
    margin:0 auto ;
}

#about-content p{
    padding: 30px;
    text-align:left;
    color:#aaa;
    line-height: 2;
}

#content-about1{
    background-image:url(./img/1111.jpg);
    height: 400px;
    background-size: cover;

}
#content-about2{
    background-image:url(./img/about3.jpg);
    height: 500px;
    background-size: cover;

}
#content-about3{
    background-image:url(./img/yyyy.jpg);
    height: 500px;
    background-size: cover;
}

/* 連絡我分頁 */

#banner-contact{
    background-image: url(./img/contact.jpg);
    background-size: cover;
    width: 100%;
    /* vh螢幕高度 */
    height: 50vh;
    color:white;
    background-attachment: fixed;
}

#banner-contact nav{
    backdrop-filter:opacity(40%);
}

#banner-contact h2{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-left: 20px;
    line-height: 40vh;
    backdrop-filter:opacity(40%);
    height: 46.7vh;
}